$primary: #14213D;
// $primaryLight: 
// $primaryDark:

$secondary: #FCA311;
// $secondaryLight:
// $secondaryDark:

// $neutralDarker:
// $neutrayDark:
$neutral: #E5E5E5;
// $neutralLight:
// $neutralLighter: 
// $neutralLightest:

$dark: #000000;
$darkLight: #0f0f0f;

$light: #FFFFFF;